body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #1E4D2B;
    text-align: center;
    margin: 20px 0;
}

h2 {
    color: #C8C372;
    margin-left: 20px;
}

div {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #1E4D2B;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #163d21;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #C8C372;
    color: white;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 4px;
}

#searchResult, #addUserResult, #updateUserResult, #deleteUserResult {
    margin-top: 10px;
}